# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual environment
venv/
.env

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.bak
*.tmp
*.temp

# Compiled Python files
*.pyc

# Package directories
node_modules/
jspm_packages/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
